@import "src/scss/breakpoints";


:host {
  padding:0 30px;
  box-sizing: border-box;
  display: block;

  h2 {
    margin: 60px 0;
  }
}

div {
  display: grid;
  grid-template-columns: 1fr;
  gap:30px;
}

@media screen and (min-width: $screen-md-min) {
  div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
